/src/src/main/resources/raw_data/Playlists_Tracks.csv
/src/src/main/resources/raw_data/Users.csv
/TracksTriplets.ttl
/src/src/main/resources/raw_data/Playlists.csv
/src/src/main/resources/raw_data/Tracks.csv
